* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.logo {
    font-size: 1.1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 40px;
}

.name span {
    color: var(--main-color);
}

.welcome-banner {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: clip;
    width: 100%;
}

.banner {
    display: flex;
    align-items: center;
    max-height: 100%;
}

.circle-background {
    content: '';
    position: absolute;
    background-color: var(--main-color);
    width: 110vh;
    height: 110vh;
    border-radius: 50%;
    top: -90px;
    right: -60vh;
    z-index: -100;
}

.image img {
    max-height: 500px;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px 0 80px;
    width: 40%;
    position: relative;
}

.head-title {
    padding: 5px 0;
    font-size: 0.8em;
    color: var(--dark-main-color);
}

.title {
    padding: 0 0 20px 0;
    font-size: 1.4em;
    font-weight: bold;
}

.description {
    font-size: 0.9em;
    padding-bottom: 30px;
}

.more-btn {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
}

.more-btn:hover {
    background-color: var(--dark-main-color);
}

footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    padding: 50px;
}

footer .logo {
    color: #fff;
    margin-bottom: 30px;
    fill: #fff;
}

footer img {
    fill: #fff;
}

footer a {
    color: #fff;
    font-size: 0.7em;
}

footer .title {
    font-size: 1em;
}

.sitemap {
    display: flex;
    gap: 100px;
    padding-bottom: 50px;
}

.cards {
    display: flex;
    gap: 60px;
}

.cards ul {
    list-style: disc;
    margin-left: 20px;
}

.list ul {
    margin-top: 15px;
}

.info {
    border-top: 1px solid var(--gray-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.copyright {
    padding: 10px;
    font-size: 0.65em;
}

.links a {
    color: var(--gray-color);
}

.links ul {
    display: flex;
    gap: 40px;
    margin-left: 30px;
}

.function-container {
    position: relative;
    margin: 10px auto;
    height: 90vh;
    padding: 60px 120px;
    display: flex;
    gap: 150px;
    align-items: center;
    background-color: var(--main-color);
    color: #fff;
    z-index: -2;
}

.function-container img {
    max-height: 450px;
}

.function-description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.2em;
}

.function-description h2 {
    font-size: 2.5em;
}

#news-container {
    background-color: #fff;
    color: #000;
}

.pattern,
.pattern-b,
.pattern-c {
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23dbdbdb' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    z-index: -2;
}

.pattern {
    height: 100px;
    width: 150px;
    top: 80px;
    left: 50px;
}

.pattern-b {
    height: 150px;
    width: 140px;
    top: 70px;
    left: 70px;
}

.pattern-c {
    height: 180px;
    width: 160px;
    bottom: 70px;
    right: 60px;
}

@media screen and (max-width: 900px) {
    body {
        font-size: 1em;
    }

    .function-description h2 {
        font-size: 1.5em;
    }

    .welcome-banner, .function-container {
        flex-direction: column;
    }

    .function-container {
        height: fit-content;
    }

    .message {
        width: 80%;
        padding: 10px;
    }

    .more-btn {
        width: 40%;
        border: 1px solid #fff;
        margin-bottom: 20px;
    }

    .function-container {
        gap: 50px;
        padding: 80px;
    }

    .image img {
        max-width: 100%;
    }

    .pattern {
        top: -10px;
        left: -10px;
    }

    .pattern-b {
        top: 40px;
        left: 40px;
    }

    .pattern-c {
        bottom: 30px;
        right: 30px;
    }

}
