* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.logo {
    font-size: 1.1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 40px;
}

.name span {
    color: var(--main-color);
}

.welcome-banner {
    max-height: 100vh;
    display: flex;
}

.banner {
    width: 60%;
    position: relative;
    display: flex;
    max-height: 100%;
}

.circle-background {
    content: '';
    position: absolute;
    background-color: var(--main-color);
    width: 110vh;
    height: 110vh;
    border-radius: 50%;
    top: -90px;
    right: -60vh;
    z-index: -100;
}

.image {
}

.image img {
    max-height: 500px;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px 0 80px;
    width: 40%;
}

.head-title {
    padding: 5px 0;
    font-size: 0.8em;
    color: var(--dark-main-color);
}

.title {
    padding: 0 0 20px 0;
    font-size: 1.4em;
    font-weight: bold;
}

.description {
    font-size: 0.9em;
    padding-bottom: 30px;
}

.more-btn {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
}

.more-btn:hover {
    background-color: var(--dark-main-color);
}

footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    padding: 50px;
}

footer .logo {
    color: #fff;
    margin-bottom: 30px;
    fill: #fff;
}

footer img {
    fill: #fff;
}

footer a {
    color: #fff;
    font-size: 0.7em;
}

footer .title {
    font-size: 1em;
}

.sitemap {
    display: flex;
    gap: 100px;
    padding-bottom: 50px;
}

.cards {
    display: flex;
    gap: 60px;
}

.cards ul {
    list-style: disc;
    margin-left: 20px;
}

.list ul {
    margin-top: 15px;
}

.info {
    border-top: 1px solid var(--gray-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.copyright {
    padding: 10px;
    font-size: 0.65em;
}

.links a {
    color: var(--gray-color);
}

.links ul {
    display: flex;
    gap: 40px;
    margin-left: 30px;
}
