:root{
    --main-color: #D90416;
    --variant-main-color: #D9042B;
    --light-main-color: #F20505;
    --dark-main-color: #8C0303;
    --gray-color: rgba(248, 243, 238, .2);
}

@font-face {
    font-family: Roboto;
    src: url("/assets/fonts/Roboto/Roboto-Regular.ttf");
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #d90416 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #d90416;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

html {
    scroll-behavior: smooth;
}